<% const d = new Date()
let year = d.getFullYear() %>
<footer class="footer">
  <p><a class="error-info" href="/inv/trigger-error">Error Link</a></p>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
</footer>