<header class="header" id="top-header">
    <span class="siteName">
        <a class="sitename-title" href="/" title="Return to home page">CSE MOTORS</a>
    </span>
    <div id="tools">
        <a class="login-title" title="Click to log in" href="/account/login">My Account</a>
    </div>
</header>