<div class="main">
  <section class="vehicle-promo">
    <h1 class="promo-title">Welcome to CSE Motors!</h1>

    <div class="vehicle-showcase">
      <img
        class="vehicle-image"
        src="/images/vehicles/delorean.jpg"
        alt="delorean-car"
      />

      <div class="vehicle-details">
        <h2 class="vehicle-feature font-title">DMC Delorean</h2>
        <p class="vehicle-feature">3 Cup holders</p>
        <p class="vehicle-feature">Superman doors</p>
        <p class="vehicle-feature">Fuzzy dice!</p>
        <a href="#" class="btn">Own Today</a>
      </div>
    </div>
  </section>

  <div class="container-up-revws">
    <section class="reviews-section">
      <h2 class="section-title">DMC Delorean Reviews</h2>
      <ul class="review-list">
        <li class="review-item">
          "So fast it's almost like traveling in time" (4/5)
        </li>
        <li class="review-item">"Coolest ride on the road" (4/5)</li>
        <li class="review-item">"I'm feeling McFly!" (5/5)</li>
        <li class="review-item">
          "The most futuristic ride of our day" (4.5/5)
        </li>
        <li class="review-item">"80's livin and I love it!" (5/5)</li>
      </ul>
    </section>

    <section class="upgrades-section">
      <h2 class="upgrade-title">Delorean Upgrades</h2>

      <div class="upgrade-list">
        <div class="upgrade-list-item">
          <div class="upgrade-list-image-container">
            <img
              class="upgrade-list-image"
              src="/images/upgrades/flux-cap.png"
              alt="flux-cap"
              width="300"
            />
          </div>
          <a href="#" class="upgrade-list-text">Flux Capacitor</a>
        </div>
        <div class="upgrade-list-item">
          <div class="upgrade-list-image-container">
            <img
              class="upgrade-list-image"
              src="/images/upgrades/flame.jpg"
              alt="flame"
              width="300"
            />
          </div>
          <a href="#" class="upgrade-list-text">Flame Decals</a>
        </div>
        <div class="upgrade-list-item">
          <div class="upgrade-list-image-container">
            <img
              class="upgrade-list-image"
              src="/images/upgrades/bumper_sticker.jpg"
              alt="bumper"
              width="300"
            />
          </div>
          <a href="#" class="upgrade-list-text">Bumper Stickers</a>
        </div>
        <div class="upgrade-list-item">
          <div class="upgrade-list-image-container">
            <img
              class="upgrade-list-image"
              src="/images/upgrades/hub-cap.jpg"
              alt="hub-cap"
              width="300"
            />
          </div>
          <a href="#" class="upgrade-list-text">Hub Caps</a>
        </div>
      </div>
    </section>
  </div>
</div>
