<%# A message block available for messages we want to add to the page later%>
<%- messages() %>

<%# Code block to display errors %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-container">
  <h1  class="form-title">Add New Classification</h1>
  <p class="form-instructions">ALL FIELDS ARE REQUIRED.</p>
  <form class="new-class-form" action="/inv/add-classification/" method="post">
    <label class="form-label" for="classification_name"><strong>Classification Name:</strong></label><br>
    <input  class="form-input" type="text" id="classification_name" name="classification_name" required value="<%= locals.classification_name %>"><br>
    <input class="form-submit" type="submit" value="Add Classification">
  </form>
</div>