<%# A consistant header among pages%>
 <% if (title) { %>
    <h1 class="title-error"><%= title %></h1>
  <% } else { %>
    <h1>Oops!</h1>
  <% } %>

  <% if (message) { %>
    <p class="title-error"><%= message %></p>
  <% } else { %>
    <p class="title-info"> Sorry, we appear to have lost that page..</p>
  <% } %>
  <% if (title == 500 || title == 404 || title == "Server Error") { %>
  <img src="https://http.cat/500" alt="Funny 500 Cat" class="error-img">
<% } %>